.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 2;
}

.banner a {
  color: currentColor;
}
