.container > * + * {
  margin-top: 0.5rem;
}

.status {
  position: relative;
  min-height: 19.5rem;
}

.header {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.375rem;
}

.title {
  font-size: var(--text-sm);
}

.title i {
  margin-right: 0.125rem;
}

.title a {
  margin-inline: 1px;
}

.title-link {
  display: inline-flex;
  align-items: center;
  color: currentColor;
  font-size: var(--text-sm);
  gap: 0.25rem;
}

.decks {
  list-style: none;
}

.decks > * + * {
  margin-top: 0.5rem;
}

.status {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.status-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 72ch;
}

.status-icon {
  font-size: var(--icon-3xl);
}
