.decklist-container {
  padding: 0.25rem;
  border: 1px solid var(--palette-1);
  border-radius: var(--rounded);
  margin-block: 0.5rem;
}

.decklist-container:hover {
  border-color: var(--palette-2);
}

.decklist-container > * + * {
  margin-top: 0.5rem;
}

.decklist-container-title {
  display: inline-flex;
  gap: 0.375rem;
  align-items: center;
  font-weight: 400;
  line-height: 1;
  margin-left: 0.25rem;
}

.decklist-details {
  margin-top: 0.5rem;
}

.decklist {
  padding: 0.5rem;
}

.decklist-meta-standalone {
  margin-bottom: 0.5rem;
}
