.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  width: 100%;

  @media screen and (min-width: 45rem) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }
}

.nav {
  grid-template-areas: nav;
  border-right: 1px solid var(--palette-point-five);
}

.content {
  grid-template-areas: content;
}

.environment-actions {
  display: flex;
  flex-flow: row wrap;
  gap: 0.375rem;
  align-items: center;
  margin-bottom: 0.375rem;
}

.environment-tab {
  margin-top: 0.75rem;
}

.environment-tab > * + * {
  margin-top: 0.75rem;
}

.sealed > * + * {
  margin-top: 0.375rem;
}

.extension-label {
  display: inline-flex;
  gap: 0.375rem;
  font-size: var(--text-base);
  font-weight: bold;
  line-height: 1;
}

.extension + .extension {
  margin-top: 0.375rem;
}
