name: api-arkham-build

services:
  db:
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 1s
      retries: 10
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/scripts:/scripts
      - ./src/tests/seeds:/app/src/tests/seeds

volumes:
  postgres_data:
