.select:not(.compact) {
  width: fit-content;
  min-width: 11rem;
  max-width: 100%;
}

.control-row {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.locale {
  display: inline-block;
  padding: 0.125rem;
  margin: 0.125rem 0;
  line-height: 1;
  background: var(--palette-4);
  font-family: monospace;
  color: var(--palette-0);
  font-size: var(--text-2xs);
  border-radius: 0.125rem;
}
