.search-container {
  display: flex;
  width: 100%;
}

.search-input {
  width: 100%;
  border-radius: var(--rounded);
}

.search-outer {
  flex-grow: 1;
  margin-right: 0.25rem;
}

.filters-wrap {
  padding-inline: 0.75rem;
  display: flex;
  flex-direction: column;
}

.filters-wrap > * + * {
  margin-top: 0.75rem;
}

.filters-container {
  background: var(--palette-point-five);
  border: 1px solid var(--palette-1);
  padding: 0.375rem;
  box-shadow: var(--shadow-lg);
  border-radius: var(--rounded);
  max-height: 95dvh;
  width: min(18rem, 95dvw);
}

.expand-filters {
  position: relative;
}

.active {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  fill: var(--nord-8);
  stroke: none;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 1;
}

:root[data-theme="light"] .active {
  fill: var(--nord-10);
}
