.name > *:not(:first-child) {
  margin-left: 0.1875rem;
}

.pack-detail {
  font-weight: 400;
  font-size: var(--text-xs);
  color: var(--text);
  flex: 0 0 auto;
  background: var(--palette-point-five);
  line-height: 1;
  padding: 0 0.125rem;
  border-radius: var(--rounded);
}

.pack-detail-icon {
  font-size: 1em;
}

.pack-detail-position {
  vertical-align: baseline;
  font-size: var(--text-2xs);
}

.unique {
  display: inline;
  font-size: 0.625rem;
}
