.layout {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.layout > * + * {
  margin-top: 1rem;
}

.header {
  position: relative;
  height: min(66dvh, 800px);
}

.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding-inline: 1rem;
}

.header-title {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  font-family: var(--font-family-content);
  z-index: 2;
  text-align: center;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.75);
}

.header-title p {
  color: white;
  font-style: italic;
  font-family: var(--text-xl);
}

.header-title h1 {
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
}

@media screen and (min-width: 30rem) {
  .header-title h1 {
    font-size: 2.25rem;
  }
}

.header-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-backdrop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 1;
}

.header-backdrop img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 35%;
}

.content {
  margin-inline: auto;
  max-width: min(90ch, 95%);
  margin-top: 1rem;
}

.cards {
  padding: 1rem;
  background: var(--palette-point-five);
  border-radius: var(--rounded);
  border: 1px solid var(--palette-1);
  box-shadow: var(--shadow);
}

.cards-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  width: 100%;
}

.cards > * + * {
  margin-top: 1rem;
}

.cards h2 {
  font-size: var(--text-lg);
}

@media screen and (min-width: 30rem) {
  .cards-row {
    flex-flow: row nowrap;
  }

  .card {
    flex: 1 1 auto;
    max-width: 350px;
  }

  .cards h2 {
    font-size: var(--text-xl);
  }
}

.shop {
  position: relative;
  background: url("/assets/blog/tillinghast_esoterica.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 15%;
  padding: 1rem;
  border-radius: var(--rounded);
  border: 1px solid var(--nord-point-five);
  box-shadow: var(--shadow);
  overflow: hidden;
  max-width: min(90ch, 95%);
  margin-inline: auto;
}

.shop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  mix-blend-mode: multiply;
  z-index: 1;
}

.shop * {
  position: relative;
  z-index: 2;
  color: white;
}

.shop > * + *,
.shop form > * + * {
  margin-top: 1rem;
}

.souvenir {
  max-width: min(90ch, 95%);
  margin-inline: auto;
}
