.layout {
  display: grid;
  min-height: 100dvh;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "main" "sidebar" "footer";
  margin-inline: auto;
  max-width: var(--layout-max-width);
  padding-inline: var(--layout-padding);
  padding-bottom: 0.5rem;

  @media screen and (min-width: 45rem) {
    grid-template-columns: 1fr 20rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "main sidebar" "footer footer";
  }

  @media screen and (min-width: 60rem) {
    grid-template-columns: 8fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "main sidebar" "footer footer";
  }
}

.header {
  grid-area: header;
}

.main {
  max-width: 52rem;
  margin-inline: auto;
  container-type: inline-size;
  padding-bottom: 1rem;
  width: 100%;
  grid-area: main;
}

.main > * + * {
  margin-top: 1rem;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar-inner > * + * {
  margin-top: 1.5rem;
}

.sidebar-section > * + * {
  margin-top: 0.5rem;
}

.sidebar-section-title {
  font-size: var(--text-xl);
  line-height: 1;
}

.sidebar-section-content > * + * {
  margin-top: 0.5rem;
}

.view-section-title {
  font-family: var(--font-family-ui);
  text-align: center;
  color: var(--text);
  font-size: var(--text-xl);
  line-height: 1;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.view-section-cards > * + * {
  margin-top: 1rem;
}

.card-set-nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.375rem;
}

.card-set-button {
  flex: 1 0 auto;
  width: fit-content;
  min-width: 15ch;

  @media screen and (min-width: 36rem) {
    flex: 0 0 auto;
    max-width: 45ch;
  }
}

.card-set-button.next:only-child {
  margin-left: auto;
}

.card-set-nav-title {
  margin-bottom: 0.375rem;
}

.card-set-nav-title h3 {
  text-align: center;
}

.card-set-nav-title h3 * {
  margin: 0.5rem;
}

.printings {
  list-style: none;
}

.printings > * {
  overflow: hidden;
}

.printings-item {
  display: block;
  color: currentColor;
  text-decoration: none;
  background: var(--palette-point-five);
  border-style: solid;
  border-color: var(--palette-2);
  border-left-width: 1px;
  border-right-width: 1px;
  padding: 0.375rem 0.5rem;
  border-top-width: 0;
  border-bottom-width: 0;

  &.active {
    background-color: var(--palette-2);
  }
}

.printings > * + * .printings-item {
  border-top-width: 1px;
  border-top-color: var(--palette-1);
}

.printings :where(:first-child) .printings-item {
  border-top-width: 1px;
  border-radius: var(--rounded) var(--rounded) 0 0;
}

.printings :where(:last-child) .printings-item {
  border-bottom-width: 1px;
  border-radius: 0 0 var(--rounded) var(--rounded);
}

.printings :where(:only-child) .printings-item {
  border-top-width: 1px;
  border-radius: var(--rounded);
}

a.printings-item:not(.active):hover,
a.printings-item:not(.active):focus-visible {
  background-color: var(--palette-1);
}

.preview {
  width: min(18rem, 75%);
}

.preview {
  box-shadow: var(--shadow);
}
