name: [Frontend] Build

on:
  pull_request:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-build.yml"
  push:
    branches:
      - main
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-build.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    env:
      VITE_PAGE_NAME: ${{ vars.VITE_PAGE_NAME }}
      VITE_API_URL: ${{ vars.VITE_API_URL }}
      VITE_CARD_IMAGE_URL: ${{ vars.VITE_CARD_IMAGE_URL }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version-file: "package.json"
      - run: npm ci
      - run: npm run build --workspace=frontend
      - name: Upload webpack stats artifact
        uses: relative-ci/agent-upload-artifact-action@v2
        with:
          webpackStatsFile: ./frontend/dist/webpack-stats.json
