.control {
  padding: 0.375rem 0.5rem;
  border-radius: var(--rounded);
  background-color: var(--palette-point-five);
  border: 1px solid var(--palette-2);
  font-size: var(--text-sm);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.control svg {
  flex: 0 0 auto;
  width: var(--text-sm);
}

.compact .control {
  padding: 0.25rem 0.5rem;
}

.control:hover {
  background: var(--palette-1);
  border-color: var(--palette-2);
}

.control:focus-visible {
  border: 1px solid var(--focus);
}

.control-indicator {
  width: var(--text-xs);
}

.menu {
  border-radius: var(--rounded);
  border: 1px solid var(--palette-2);
  width: min(13rem, 50dvw);
  max-height: 95dvh;
  overflow: hidden;
  box-shadow: var(--shadow);
  display: flex;
  flex-flow: column nowrap;
  background: var(--palette-point-five);
}

.menu:focus-visible,
.menu:focus,
.menu:active {
  border: 1px solid var(--palette-2);
  outline: none;
}

.option {
  display: flex;
  width: 100%;
  background: var(--palette-point-five);
  padding: 0.375rem 0.5rem 0.375rem calc(var(--text-xs) + 1rem);
  gap: 0.5rem;
  font-size: var(--text-sm);
  position: relative;
}

.option.active {
  background: var(--palette-1);
}

.option-indicator {
  width: var(--text-xs);
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
